<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Helllo Parcel 
        link(rel="stylesheet", href="../sass/main.sass")
    body

        include ./includes/_navbar.pug 
        
        div 
            p Hello form Home  
        
        img(src="../images/birthday.png")

        //- video(src="../videos/test.mp4")

        include ./includes/_footer.pug

        script(src="../js/index.js")