
extends templates/layout.pug
//- block append config
//-     - let pageTitles = "Ha Ha"

block main 
    +showText("Starboy", "100%")

mixin showText(text, amount)
    h2 #{text} is #{amount} great. 
